.user-info-image {
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

.user-info-overlay-top {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 6px;
    background-color: rgb(75, 113, 100);
    border-radius: 2rem 2rem 0 0;
    color: white;
    text-align: center;
    width: 76vw;
}

.user-info-overlay-bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 6px;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 2rem 2rem;
    color: black;
    text-align: center;
    width: 76vw;
}