.restaurant-image {
    width: 800px;
    height: 400px;
    object-fit:fill; /* Manter a proporção e cobrir a área especificada */
    border: 8px solid var(--secondary-color);
    border-radius: 8px;
}

.body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: var(--primary-color);
    padding: 30px 10px 30px 10px;
    border-radius: 2rem;
    color: var(--accent-color);
    text-align: center;
    width: 80%;
}

.restaurant-title-fav {
    display:flex;
    align-items: center;
}

.restaurant-title {
    font-weight: bolder;
    font-size: 60px;
}

.restaurant-info{
    font-weight: bold;
    padding: 0;
    margin-top: 6px;
    font-size: 26px;
}

.restaurant-desc {
    font-weight: bold;
    padding: 0;
    margin-top: 6px;
    font-size: 30px;
    text-align: justify;
    width: 80%;
}

.restaurant-bottom-info {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin-top: 6px;
}