.valuation-card-background {
    display: flex;
    background-color: white;
    border-radius: 1rem;
    justify-content: center;
    margin: 10px;
    width: 100%;
}

.valuation-card-body {
    text-align: start;
    width: 90%;
    color: black;
}

.valuation-card-title {
    display: flex;
    justify-content: space-between;
    color: black;
}

.valuation-card-description {
    color: black;
}

.valuation-card-date {
    color: black;
}