@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

.search-container{
    background-color: white;
    border-radius: 8px;
    width: 60%;
    height: 40px;
    border: 4px solid rgba(75,113,100,1);
    padding: 4px;
    display: flex;
    align-items: center;
}

.search-input{
    margin-left: 10px;
    color: black;
    background: none;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 24px;
}

.search-input:focus{
    outline: none;
}