.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    border-radius: 8px;
    padding: 0;
    transition:all 0.5s ease;
    font-weight:100;
    overflow:visible;
    background-color: #eeeeee;
    box-shadow: 2px 2px #afafaf;
}
.card:hover{
    margin-top:-5px;
    box-shadow: 5px 5px #a0a0a0;
}
.card img{
    border-radius: 8px 8px 0 0;
    width: 250px;
    height: 160px;
}
.card-body{
    width:100%;
    text-align: center;
    padding-bottom: 8px;
}